# Rider
.idea/
*.sln.iml
*.ico
*.pdb
*.dll
*.exe
*.cache
*.log
bin/
obj/
packages/
*.csproj.user
_ReSharper.*/

# Visual Studio
.vs/
*.suo
*.user
*.ncb
*.pyc
*.pyo
*.cache
bin/
obj/
ipch/
*.dll
*.exe
*.pdb
*.ilk
*.loc
*.ncb
*.log
*.tlog/
*.jfm
*.vbw
*.cps
*.suo
*.user
*.cache
*.sdf
*.opensdf
*.scc
*.docstates
*.sln.docstates

# Combined
.idea/
*.sln.iml
*.ico
*.pdb
*.dll
*.exe
*.cache
*.log
bin/
obj/
packages/
*.csproj.user
_ReSharper.*/

.vs/
*.suo
*.user
*.ncb
*.pyc
*.pyo
*.cache
ipch/
*.ilk
*.loc
*.tlog/
*.jfm
*.vbw
*.cps
*.cache
*.sdf
*.opensdf
*.scc
*.docstates
*.sln.docstates